#grid{
  display:grid;
  grid-template-columns: 280px 1fr;
}
#grid #article{
  color:lightslategray;
  font-family: Fantasy;
}
#grid #article a{
  color:black;
}
a{
  text-decoration:none;
  color:skyblue;
}
h1{
  border-bottom:5px solid skyblue;
  font-size:50px;
  text-align:center;
  padding:20px;
  margin:0;
  font-family: Fantasy;
  color:steelblue;
}
ol{
  border-right:5px solid skyblue;
  width:200px;
  margin:0;
  padding:20px;
  font-family: Fantasy;
}
li::marker{
  color:skyblue;
}
li{
  margin:5px;
}
